<div class="holes-container">
  <div class="card clickable hole hard">
    <div class="card-block">
      <div class="card-title">
        Block
      </div>
      <div class="card-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsa, id sit hic ea officia harum in tempore
          incidunt laboriosam, iusto neque quos non corporis. Temporibus repellendus ea aliquam est?
        </p>
      </div>
    </div>
  </div>

  <!-- Single Hole -->
  <div class="card clickable hole easy">
    <div class="card-block">
      <div class="card-title">
        Block
      </div>
      <div class="card-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsa, id sit hic ea officia harum in tempore
          incidunt laboriosam, iusto neque quos non corporis. Temporibus repellendus ea aliquam est?
        </p>
      </div>
    </div>
  </div>
</div>
