.code-card {
  width: 18rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: .8rem;
}

.code-card p {
  font-size: .9rem;
}

.code-card-footer {
  font-size: .8rem;

}

.easy {
  background-color: lightgreen;
  color: darkgreen;
}

.hard {
  background-color: salmon;
  color: darkred;
}


/* material stuffs */

.example-card {
  max-width: 15rem;
  margin: 1rem;
  /* padding: 0; */
  -webkit-box-shadow: -2px 8px 11px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 8px 11px -4px rgba(0,0,0,0.75);
  box-shadow: -2px 8px 11px -4px rgba(0,0,0,0.75);
}

/* .example-card:hover {
} */

.incorrect {
  /* color: darkred; */
  /* background-color: salmon; */
  background-color: rgb(238, 238, 238);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
