<div class="main-container">
  <div class="container-content f">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom full-height">
      <!-- Home -->
      <a clrVerticalNavLink routerLink="" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Home
      </a>

      <!-- Hole View -->
      <a clrVerticalNavLink routerLink="holes" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="code"></clr-icon>
        Holes
      </a>

      <!-- Profile -->
      <!-- <a clrVerticalNavLink routerLink="">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Profile
      </a> -->

      <!-- Leaderboards -->
      <!-- <a clrVerticalNavLink routerLink="">
        <clr-icon clrVerticalNavIcon shape="view-list"></clr-icon>
        Leaderboards
      </a> -->

      <!-- Play -->
      <a clrVerticalNavLink routerLink="play/10" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="play"></clr-icon>
        Play
      </a>


      <!-- Divider to the next part -->
      <div class="nav-divider"></div>

      <!-- Github URL -->
      <a clrVerticalNavLink href="https://github.com/Squwid/bytegolf" target="_blank">
        <clr-icon clrVerticalNavIcon shape="star"></clr-icon>
        Github Repo
      </a>

      <!-- About -->
      <a clrVerticalNavLink routerLink="">
        <clr-icon clrVerticalNavIcon shape="happy-face"></clr-icon>
        About
      </a>



    </clr-vertical-nav>
    <div class="content-area second-holder bg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
