.f{
	display: flex;
	flex-direction: row;
}

.full-height {
	padding-top: 0px;
	margin-top: 0px;
	height: 100vh;
	max-height: 100vh;
}

.header-height {
	background-color: #314F62;
	height: 5vh;
}

.second-holder {
	width: 100%;
	// background-color: blue;
	overflow-y: scroll;
	max-height: 100vh;
	
}