.f{
	display: flex;
	flex-direction: row;
}

.full-height {
	padding-top: 0px;
	margin-top: 0px;
	height: 95vh;
}

.bg {
	padding: 0;
	margin: 0;
}

.header-height {
	background-color: #314F62;
	height: 5vh;
}