.DS_STORE
.vscode/
bytegolf/bytegolf
*.exe
*.exe~
subs/
resp/
bytegolf.exe
qs/
localfiles/
vendor

# auth files
github_oauth.json
creds.json

todo.txt
node_modules/
Bytegolf.md

*auto-save*
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.terraform
.terraform.lock.hcl
terraform.tfstate.d/

frontend/public/