<div class="container bg-pattern">
  <div class="container">
    <div class="title-wrapper">
      <h1>{{ hole.title }} </h1>
      <p class="text-muted">Do this do that doadlkfj jfalkdsjfa djakakdj kd alkjdf aldkf adk ajdf adjf alksjdf alkdjf
        alj
      </p>
    </div>
    <hr>
    <div class="container pad-top">
      <div class="container d-flex justify-content-start bg-gray language-wrapper">
        <div class="language-icon text-center" data-toggle="tooltip" data-placement="top" title="{{ language.tooltip }}"
          *ngFor="let language of languages" (click)="onSelectLanguage(language)"
          [ngStyle]="{'background-color': mode  === language.mode ? '#3f3f3f' : 'lightgray'}">
          <img class="fit" src="{{ language.icon }}" alt="{{ language.language }}">
        </div>
      </div>

      <!-- text editor part -->
      <div ace-editor [(text)]="content" class="editor" [theme]="activeTheme" [mode]="mode"></div>

      <div class="container d-flex button-wrapper justify-content-center">
        <button type="button" class="btn btn-outline-success btn-space" [disabled]="submitDisabled"
          (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-outline-info btn-space" (click)="onClear()">Clear</button>
        <div class="dropdown inline-block">
          <button class="btn btn-outline-secondary dropdown-toggle btn-space" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editor Theme</button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let theme of themes"
              [ngStyle]="{'background-color': theme.name === activeTheme ? 'lightgray' : 'inherit'}"
              (click)="onChangeTheme(theme)">{{ theme.name }}</a>
          </div>
        </div>
      </div>
    </div>

    <app-previous>

    </app-previous>
    <!-- here
  <ace [config]="config" [mode]="mode" [disabled]="disabled" [(value)]="content">Some example content</ace>
  <div class="ace-editor" [ace]="config" [disabled]="disabled"></div> -->
  </div>
</div>
