.language-icon {
  width: 3rem;
  height: 3rem;
  background-color: lightgray;

  overflow: hidden;
  padding: .4rem;

}

img {
  vertical-align: middle;
}

.fit {
  line-height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.language-icon:hover {
  background-color: #3f3f3f;
}

.active {
  background-color: #3f3f3f;
}

.bg-gray {
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

/* theme things */

.active-theme {
  background-color: lightslategray;
}

.pad-top {
  padding-top: .8rem;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}

.btn-space {
  margin: .3rem;
}

.inline-block {
  display: inline-block;
}

/* code editor syle */
.editor {
  min-height: 200px;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  overflow: auto;
  height: 25rem;
}

.button-wrapper {
  /* background-color: orange; */
  padding: .3rem;
  max-width: 50rem;
  margin: 0 auto;
}

.language-wrapper {
  max-width: 50rem;
  margin: 0 auto;
}
