<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="\assets\css\bootstrap.css">
    <link rel="stylesheet" href="\assets\css\style.css">
    <link rel="stylesheet" href="\assets\css\bg.css">
    <title>Byte Golf</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light py-4">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="\assets\media\bytegolf-logo-small.png" width="50" height="50" alt="logo">
                <h3 class="d-inline align-middle">Byte Golf</h3>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/play" class="nav-link active">Play</a>
                    </li>
                    <li class="nav-item">
                        <a href="/leaderboards" class="nav-link">Leaderboards</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account" class="nav-link">Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- New Game in HTML -->
    <div class="contentWhite">
        <div class="contentspaceWhite"></div>
        <div class="golfcontainer">
            <h2>Create New Game</h2>
            <div class="golfoptions">
                <form method="post">
                    <que>Hole Amount &nbsp;</que>
                    <input type="radio" name="holes" value="1"> 1 &nbsp; &nbsp;
                    <input type="radio" name="holes" value="3" checked> 3 &nbsp; &nbsp;
                    <input type="radio" name="holes" value="9"> 9 &nbsp; &nbsp;

                    <br>
                    <br>

                    <que>Max Players &nbsp;&nbsp;</que>
                    <select name="maxplayers">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>

                    <br>
                    <br>

                    <que>Game Name &nbsp;</que>
                    <input type="text" name="gamename" placeholder=" Name" maxlength="15">

                    <br>
                    <br>

                    <que>Password &nbsp; &nbsp; &nbsp;</que>
                    <input type="password" name="password" maxlength="15" placeholder=" Password">

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <input type="submit" value="Tee Off" style="height:25px; width:80px">

                </form>
            </div>
        </div>
    </div>

</body>

</html>