<!DOCTYPE html>
<html>

<head>
    <title>Byte Golf</title>
    <link rel="stylesheet" type="text/css" href="\assets\css\style.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquerawy/3.3.1/jquery.min.js"></script>

    <!-- LAST SUPPORTED JAVASCRIPT -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>

<body>
    <!-- Banner in HTML -->
    <div class="banner">
        <div class="logospace"> logo space</div>

        <div class="bannerlistspace"></div>

        <a href="/">
            <div class="bannerlist" a href="golf.html">
                Tee Off
            </div>
        </a>

        <div class="bannerlistspace"></div>

        <div class="bannerlist">
            Rules
        </div>
        <div class="bannerlistspace"></div>

        <a href="/leaderboards">
            <div class="bannerlist">
                Leaderboard
            </div>
        </a>
        <div class="bannerlistspace"></div>
        <a href="/login">
            <div class="bannerlist">
                {{if .LoggedIn}} {{.Name}} {{else}} Log in/Sign up {{end}}
            </div>
        </a>
        <div class="bannerlistspace"></div>
    </div>



    <!-- New Game in HTML -->
    <div class="content">
        <div class="contentspace"></div>
        <div class="golfcontainer">
            <h2>Create New Game</h2>
            <div class="golfoptions">
                <form method="post">
                    <que>Hole Amount &nbsp;</que>
                    <input type="radio" name="holes" value="one"> 1 &nbsp; &nbsp;
                    <input type="radio" name="holes" value="three" checked> 3 &nbsp; &nbsp;
                    <input type="radio" name="holes" value="nine"> 9 &nbsp; &nbsp;

                    <br><br>

                    <que>Max Players &nbsp;&nbsp;</que>
                    <select name="maxplayers">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>

                    <br><br>

                    <que>Game Name &nbsp;</que>
                    <input type="text" name="gamename" placeholder=" name" maxlength="20">

                    <br><br>

                    <que>Password &nbsp; &nbsp; &nbsp;</que>
                    <input type="password" name="password" maxlength="20" placeholder=" password">

                    <br><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    <input type="submit" value="Tee Off" style="height:25px; width:80px">

                </form>
            </div>
        </div>
    </div>

    <!-- Current Games -->
    <div class="content">
        <div class="contentspace"></div>
        <div class="cgcontainer">
            <h2>Current Games</h2>
            <div class="gamecontainer">
                <div class="gamespace"></div>
                <div class="game">
                    game1
                </div>
                <div class="gamespace"></div>
                <div class="game">
                    game2
                </div>
                <div class="gamespace"></div>

            </div>
        </div>
    </div>


    <!-- Leaderboards -->
    <div class="content">
        <div class="contentspace"></div>
        <div class="lbcontainer">
            <h2>Leaderboards</h2>
            <div class="playercontainer">
                <div class="gamespace"></div>
                <div class="player1">
                    player1
                </div>
                <div class="gamespace"></div>
                <div class="player">
                    player2
                </div>
                <div class="gamespace"></div>
                <div class="player">
                    player3
                </div>
                <div class="gamespace"></div>
                <div class="player">
                    player4
                </div>
                <div class="gamespace"></div>
                <div class="player">
                    player5
                </div>
                <div class="gamespace"></div>
                <div class="player">
                    player6
                </div>
                <div class="gamespace"></div>
            </div>
        </div>
    </div>


    <!-- Login -->
    <div class="content">
        <div class="contentspace"></div>
            <div class="golfcontainer">
                <h2>Login</h2>
                <div class="golfoptions">
                    <form method="post">
                        <que>Username&nbsp;</que>

                        <input type="text" name="username" placeholder=" Username">
                        <br>
                        <br>

                        <que>Password&nbsp;</que>
                        <input type="password" name="password" placeholder="Password">
                        <br>
                        <br>
                        <input type="submit">
                    </form>
                    <h3><a href="/signup">signup</a></h3>
                </div>
            </div>
            <div class="gamespace">

            </div>
        
    </div>


    <!-- Signup -->
    <div class="content">
        <div class="contentspace"></div>
            <div class="golfcontainer">
                <h2>Sign up</h2>
                <div class="golfoptions">
                    <form method="post">
                        <que>Username&nbsp;</que>
                        <br>
                        <input type="text" name="username" placeholder=" Username">
                        <br>
                        <br>
                        <que>Password</que>
                        <br>
                        <input type="password" name="password" placeholder="Password">
                        <br>
                        <br>
                        <input type="submit">
                    </form>
                    <h3><a href="/login">Login</a></h3>
                </div>
            </div>
            <div class="gamespace">

            </div>
    </div>

    <!-- Question -->
    <div class="content">
        <div class="contentspace"></div>
            <div class="golfcontainer">
                <br>
                <div class="qoptions">
                    <h4>{{.Question}}</h4>
                </div>
            </div>
            <div class="gamespace">

            </div>
    </div>

    <!-- Submission -->
    <div class="content">
        <div class="contentspace"></div>
            <div class="golfcontainer">
                <h2>Submission</h2>
                <div class="golfoptions">
                    <form method="POST" enctype="multipart/form-data">
                        <que>Current Game &nbsp;</que>
                        <br> {{.Name}}
                        <br>
                        <br>
                        <que>Language</que>
                        <select name="language">
                        <option value="java">Java</option>
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="cpp14">C++14</option>
                        <option value="php">PHP</option>
                        <option value="python2">Python 2</option>
                        <option value="python3">Python 3</option>
                        <option value="ruby">Ruby</option>
                        <option value="go">Go</option>
                        <option value="bash">Bash</option>
                        <option value="swift">Swift</option>
                        <option value="r">R</option>
                        <option value="nodejs">NodeJS</option>
                        <option value="fsharp">F#</option>
                    </select>
                        <div class="gamespace"></div>
                        <div class="gamespace"></div>
                        <div class="gamespace"></div>
                        <div class="gamespace"></div>
                        <div class="gamespace"></div>
                        <div class="gamespace"></div>
                        <div class="gamespace"></div>
                        <br>
                        <br>
                        <que>Select Code File</que>
                        <br>
                        <br>
                        <input type="file" name="codefile">
                        <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                        <input type="submit" value="Tee Off" style="height:25px; width:80px">

                    </form>
                </div>
            </div>
    </div>

    <!-- Footer in HTML -->
    <div class="footer">
        <div class="footerspace"></div>
        <div class="footercolumn">
            <!-- First Footer Column Area -->

            Footer column 1

        </div>
        <div class="footerspace"></div>
        <div class="footercolumn">
            <!-- Second Footer Column Area -->
            Footer column 2

        </div>
        <div class="footerspace"></div>
        <div class="footercolumn">
            <!-- Second Footer Column Area -->
            Footer column 3

        </div>
        <div class="footerspace"></div>
    </div>


</body>


</html>
