$primary: #0f6e21;
$primary-overlay: rgba(15, 110, 33, .8);

.navbar {
    // box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;

    .nav-item {
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#showcase {
    position: relative;
    // background: url('../img/golf-green.png');
    background-color: $primary-overlay;
    min-height: 600px;
    // height: 550px;

    .primary-overlay {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.info-header {
    width: 50%;
    margin:auto;
    border-bottom: 1px #ddd solid;
}


/* MEDIA QUERIES */
@media(max-width: 768px) {
    #showcase{
        min-height: 500px;

        h1 {
            font-size: 4rem;
        }
    }
}

.center{
    margin: 0 auto;
}