<div class="container">
    <p-dataView [rows]="3" [value]="leaders" filterBy="language" [sortField]="sortField">

        <ng-template let-user pTemplate="listItem">
            <div class="ui-g submission">
                <div class="ui-g-12 ui-md-3 img-wrapper d-none d-lg-block">
                    <img src="{{ user.codeImageUri }}" alt="Golang">
                </div>
                <div class="ui-g-12 ui-md-10 blue d-none d-sm-block">
                    <div class="ui-g-3 red">
                        <div class="ui-g-2 ui-sm-6 blue">Username: </div>
                        <div class="ui-g-12 ui-sm-6 gray"><b>{{user.username}}</b></div>
                    </div>
                    <div class="ui-g-2 red">
                        <div class="ui-g-2 ui-sm-6 blue">Score: </div>
                        <div class="ui-g-12 ui-sm-6 gray"><b>{{user.score}}</b></div>
                    </div>
                    <div class="ui-g-2 red">
                        <div class="ui-g-2 ui-sm-6 blue">Score: </div>
                        <div class="ui-g-12 ui-sm-6 gray"><b>{{user.score}}</b></div>
                    </div>

                </div>
            </div>


        </ng-template>
    </p-dataView>
</div>
