.banner {
	height: 80px;
	width: 100%;
	background-color: limegreen;

	display: flex;

	padding-top: 10px;
	padding-bottom: 10px;
}

.banner a {
	color: black;
}

.banner a:link {
	color: black;
}

.banner a:visited {
	color: black;
}

.banner a:active {
	background-color: lightgray;
}
.logospace {
	vertical-align: middle;
	width: 350px;
	display: inline-block;
	height: 100%;
	height: 80px;
	color: white;
	/*background-color: black;*/
	

}

.bannerlistspace {
	vertical-align: middle;
	width: 2%;
	display: inline-block;
}

.bannerlist {
	/* Text */
	text-align: center;
	line-height: 55px;
	font-size: 20px;

	/*width:10%;*/
	width: 250px;
	height: 60px;
	display: inline-block;
	/*background-color: orange;*/
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: whitesmoke;
}

.bannerlist:hover {
	background-color: lawngreen;

}


/* CODE SECTION */

.correct {
	background-color: lightgreen;
	color: darkgreen;
	text-align: center;
	font-size: 24px;
	padding-right: 30%;
	padding-left: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
}

.incorrect {
	background-color: lightcoral;
	color: darkred;
	text-align: center;
	font-size: 24px;
	font-size: 24px;
	padding-right: 30%;
	padding-left: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
}


/* MAIN BODY */

.content {
	background-color: lightgray;
	height: 650px;
}

.contentspace {
	background-color: lightgray;
	height: 50px;
}

.contentsoon {
	height: 650px;
}


/* MASTER ACCOUNT */

.pinfo {
	height: 45px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	
	text-align: center;
	font-size: 15px;
}

.pinfo:hover {
	background-color: lawngreen;
}


/* CODE GOLF FORM */

.qoptions {
	position: relative;

	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;

	padding-left: 20px;
	padding-top: 20px;

	height: 415px;
	text-align: center;

	/*background-color: orange;*/
}

.golfcontainer {
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	background-color: whitesmoke;
	padding-top: 3px;

	/* Text */
	text-align: center;
	/*background-color: aqua;*/
}

.golfoptions {
	position: relative;

	margin: 0 auto;
	margin-left: 100px;
	margin-right: 100px;

	padding-left: 20px;
	padding-top: 20px;

	height: 415px;
	text-align: left;

	/*background-color: orange;*/
}

.golfcontainer h2 {
	font-size: 26px;
	text-align: center;
}

.golfoptions que {
	font-size: 20px;
}


/* CURRENT GAMES */

.cgcontainer {
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	background-color: whitesmoke;
	padding-top: 3px;

	text-align: center;
}

.cgcontainer h2 {
	font-size: 26px;
	text-align: center;
}

.gamecontainer {
	position: relative;
	margin: 0 auto;
	height: 400px;
	width: 400px;
	background-color: whitesmoke;
	padding-top: 3px;
	padding-right: 50px;
	padding-left: 50px;

	text-align: center;
}

.gamespace {
	height: 10px;
}

.game {
	height: 100px;
	margin-left: -50px;
	width: 400px;
	background-color: whitesmoke;
	border-width: 2px;
	border-color: black;
	border-style: solid;

	/* FONTS*/
	font-size: 20px;
	text-align: left;
}



.game:hover {
	background-color: lawngreen;
}


/* LEADERBOARDS */

.lbcontainer {
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	background-color: whitesmoke;
	padding-top: 3px;

	text-align: center;
}

.lbcontainer h2 {
	font-size: 26px;
	text-align: center;
}

.playercontainer {
	position: relative;
	margin: 0 auto;
	height: 400px;
	width: 400px;
	background-color: whitesmoke;
	padding-top: 3px;
	padding-right: 50px;
	padding-left: 50px;

	text-align: center;
}

.player1 {
	height: 80px;
	margin-left: -75px;
	width: 450px;
	background-color: whitesmoke;
	border-width: 3px;
	border-color: black;
	border-style: solid;

	/* FONTS*/
	font-size: 15px;
	text-align: left;
}


.player {
	height: 50px;
	margin-left: -50px;
	width: 400px;
	background-color: whitesmoke;
	border-width: 1px;
	border-color: black;
	border-style: solid;

	/* FONTS*/
	font-size: 15px;
	text-align: left;
}

.player:hover {
	background-color: lawngreen;
}

.player1:hover {
	background-color: lawngreen;
}


/* ERRORS */

error {
	vertical-align: middle;
}