body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 93.75%;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header,
section,
div {
    display: block;
}

.corral {
    margin: 0 auto;
    width: 460px;
    position: relative;
}

.content {
    margin: 120px auto 0;
    padding: 42px 42px 20px;
    border: 1px solid #eaeced;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

#cleanLogo {
    /*ackground: transparent url() top center no-repeat;*/
    background-size: auto 28px;
    text-align: center;
    display: block;

    margin: 0 auto 20px;
    font-weight: bolder;
    font-size: 1.5em;
    background: url(../media/light-logo-3-lowres.png) no-repeat center;
    height: 51px;
    width: 320px;
}

.inputLogin {
    position: relative;
    margin: 0 auto;
    padding: 0px 10px;
    height: 44px;
    border-radius: 4px;
    width: 100%;
    box-shadow: none;
    border: 1px solid #666;
}

.wrongInformation {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.notification {
    background-color: #fff7f7;
    border: 1px solid #c72e2e;
    border-radius: 4px;
    margin-bottom: .75em;
    font-size: 14px;
    color: #c72e2e;
}

.textInput {
    margin-bottom: 1em;
    width: 100%;
}

.button::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #197429;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

.button:hover:before {
    width: 100%;
}

.button {
    background-color: #197429;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: .8px solid white;
}

.button:hover {
    border: .8px solid #197429;
    cursor: pointer;
}

a,
a:link,
a:visited {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.forgotLink {
    margin: 1.5em;
    text-align: center;
    padding: .5em;
}

.forgotPassword {
    margin: 0 auto;
    font-weight: 400;
    color: black;
}

.extraLinks {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}

.returnHome,
.contactUs {
    color: #666;
    padding: 2px;
}