<div class="container">
  <hr>
  <div class="title-wrapper">
    <h2>Past Submissions</h2>
  </div>

  <mat-accordian>
    <mat-expansion-panel class="wrong">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Submission 1
        </mat-panel-title>
        <mat-panel-description>
          Length 50
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>I am open now </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="wrong">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Submission 1
          </mat-panel-title>
          <mat-panel-description>
            Length 50
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <p>I am open now </p>
      </mat-expansion-panel>
  </mat-accordian>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>