<div class="container">
  <hr>
  <div class="title-wrapper">
    <h2>Past Submissions</h2>
  </div>

  <mat-accordian>
    <mat-expansion-panel *ngFor="let submission of submissions">
      <mat-expansion-panel-header>
        <mat-pannel-title>
          {{ submission.submitted_time }}
        </mat-pannel-title>
        <mat-panel-description>
          {{ submission.submission.language }} - {{ submission.length }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I am open now!</p>
    </mat-expansion-panel>
  </mat-accordian>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>