.pv-container {
  background-color: #17242B;
  // padding-left: 1rem;
  // padding-right: 1rem;
}



.editor {
  // width: 20rem;
  // height: 20rem;
  margin: 1rem;
  width: auto;
  height: 25rem;
}

.space {
  height: 4rem;
}

.cell-expansion-wrapper {
  width: fit-content;
}

// whether the user got the question right or wrong
.correct {
  color: rgb(0, 56, 0);
  background-color: rgb(109, 219, 109);
}

.incorrect {
  color: rgb(68, 0, 0);
  background-color: lightcoral;
}

.sub-container {
  // height: 25rem;
  overflow-y: scroll;
  max-height: 30rem;
}

.nosubs-container {
  padding-top: .5rem;
}

// Stuff about link for leaderboard
a:link {
  color: rgb(212, 212, 212);
}

a:visited {
  color: rgb(212, 212, 212);
}

a:hover {
  color: lightgreen;
  text-decoration: none;
}

a:active {
  color: rgb(212, 212, 212);;
}

// self leaderboard option
.self-lb {
  font-weight: bold;
}

.alert-container {
  margin-bottom: .6rem;
  margin-top: .6rem;
}

.best-sub-text {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: lightgreen;
  margin-bottom: .2rem;
}